<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Search NN Developer sites</title>
        <!-- <link rel="stylesheet" href="css/main.css" />
        <link rel="icon" href="images/favicon.png" /> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <style>
            em {
                background-color: orange;
            }
        </style>
    </head>

    <body>
        <div class="container"></div>
            <h1>Search NN Developer Sites</h1>
            <form id="searchform">
                <label>Query<input type="text" id="query" name="q" /></label>
                <input type="submit" value="Search" id="search" />
            </form>
        </div>
        <div class="container" id="searchresults"></div>


        <script id="template" type="x-tmpl-mustache">
            <div>
                <h2><a href="{{url}}">{{ title }}</a></h2>
                <h3>Crawled at {{ crawled_at}} on site <a href={{domain_url}}>{{ domain_title }}</a></h3>
                <p> {{{ _excerpt }}} </p>
            </div>
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script>
           (function() {
                document.getElementById('searchform').addEventListener('submit', onExecuteSearch);
            })();

            function onExecuteSearch(event) {
                event.preventDefault();

                var searchValue = document.getElementById('query').value;
                console.log('going to search for: ', searchValue);
                
                var $searchResultsContainer = document.getElementById('searchresults');
                $searchResultsContainer.innerHTML = '<p>...</p>';

                fetch('/search?q='+searchValue, {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: "{}",
                })
                .then(response => response.json())
                .then(responseDoc => {
                    console.log('total search results: ', responseDoc.total);
                    
                    $searchResultsContainer.innerHTML = '';
                    var template = document.getElementById('template').innerHTML;
                    responseDoc.results.forEach(function(searchResult) {
                        $searchResultsContainer.innerHTML += Mustache.render(template, searchResult);
                    });
                });
            }
        </script>
    </body>
</html>